script(src='#{adminPath}/js/lib/jqueryfileupload/vendor/jquery.ui.widget.js')
script(src='#{adminPath}/js/lib/jqueryfileupload/jquery.iframe-transport.js')
script(src='#{adminPath}/js/lib/jqueryfileupload/jquery.fileupload.js')
script(src='#{adminPath}/js/lib/cloudinary/jquery.cloudinary.js')
| !{cloudinary_js_config}
script.
	Keystone.cloudinary = {
		cloud_name: "#{cloudinary.cloud_name}",
		api_key: "#{cloudinary.api_key}",
		timestamp: "#{cloudinary.timestamp}",
		signature: "#{cloudinary.signature}"
	}
