mixin docsnav(docssection)
	.visible-xs: ul.nav-toggle
		each item in docsnav
			li(class=docssection.value == item.value ? 'active' : null)
				a(href=item.path).nav-heading= item.labelsm
		
	nav.docs-sidebar.hidden-xs
		ul.sidebar-nav
			li(class=docssection.value == 'introduction' ? 'active' : null)
				a(href='/zh/docs').nav-heading 欢迎
			each item in docsnav
				li(class=docssection.value == item.value ? 'active' : null)
					a(href=item.path).nav-heading= item.label
		if docssection.value != 'introduction'
			hr
			ul.sidebar-nav
				each item in docsnav
					if (item.value == docssection.value ) && item.value == 'getting-started'
						ul
							li.nav-label: a(href='#introduction') 介绍
							li: a(href='#introduction-prerequisites') 前提条件
							li: a(href='#introduction-productionvsdevelopment') 生产 vs 开发
							
							li.nav-label: a(href='#gettingstarted') 入门
							li: a(href='#gettingstarted-usingyeoman') 使用Yeoman生成器
							li: a(href='#gettingstarted-startinganewproject') 开始一个新项目
							li: a(href='#gettingstarted-projectstructure') 项目结构
							
							li.nav-label: a(href='#models') 模型
							li: a(href='#models-authentication') 认证与会话管理
							
							li.nav-label: a(href='#routesviews') 路由 &amp; 视图
							li: a(href='#routesviews-settingup') 设置路由和中间件
							li: a(href='#routesviews-middleware') 常用路由中间件
							li: a(href='#routesviews-firstview') 你的第一个视图
							li: a(href='#routesviews-templates') 模板
							li: a(href='#routesviews-publicassets') 公共资产
							
							li.nav-label: a(href='#runningyourapp') 运行App
							li: a(href='#runningyourapp-writingupdates') 编写更新
							li: a(href='#runningyourapp-startingkeystone') 启动Keystone
							li: a(href='#runningyourapp-nextstep') 下一步
							
					if (item.value == docssection.value ) && item.value == 'configuration'
						ul
							li.nav-label: a(href='#options') Keystone 参数
							li: a(href='#options-concepts') 设置参数
							li: a(href='#options-project') 项目参数
							li: a(href='#options-server') Web服务器参数
							li: a(href='#options-ssl') SSL参数
							li: a(href='#options-database') 数据库与用户认证参数
							li: a(href='#options-unix-socket') Unix Socket参数
							li: a(href='#options-ui') 管理员界面参数
							li.nav-label: a(href='#services') 服务
							li: a(href='#services-google-analytics') 谷歌分析
							li: a(href='#services-google-maps') 谷歌地图
							li: a(href='#services-amazons3') 亚马逊 S3
							li: a(href='#services-azure') 微软Azure存储
							li: a(href='#services-cloudinary') Cloudinary
							li: a(href='#services-embedly') Embed.ly
							li: a(href='#services-mandrill') Mandrill
							li.nav-label: a(href='#updates') 应用程序更新
							li.nav-label: a(href='#headless') 禁用管理员界面
					if (item.value == docssection.value ) && item.value == 'database'
						ul
							li.nav-label: a(href='#concepts') 概念
							li.nav-label: a(href='#lists') 列表
							li: a(href='#lists-usage') 用法
							li: a(href='#lists-example') 示例
							li: a(href='#lists-options') List参数
							li: a(href='#lists-plugins') Schema插件
							li: a(href='#lists-querying') 查询数据
							li: a(href='#lists-paginate') 分页查询
							li: a(href='#lists-creating') 创建条目
							li: a(href='#lists-deleting') 删除条目
							li.nav-label: a(href='#headings') 标题
							li.nav-label: a(href='#fields') 域
							li: a(href='#fields-overview') 概览
							li: a(href='#fields-options') 域参数
							li: a(href='#fields-conditional') 域条件
							li: a(href='#fields-watching') 域监听
							li: a(href='#fields-underscoremethods') Underscore方法
							li.nav-label: a(href='#relationships') 关系
							li: a(href='#relationship-fields') 关系域
							li: a(href='#relationship-definitions') 关系定义
							li: a(href='#relationship-queries') 加载相关条目
							li.nav-label: a(href='#fieldtypes') 域类型
							li: a(href='#fieldtypes-boolean') Boolean
							li: a(href='#fieldtypes-text') Text
							li: a(href='#fieldtypes-textarea') Textarea
							li: a(href='#fieldtypes-email') Email
							li: a(href='#fieldtypes-url') Url
							li: a(href='#fieldtypes-html') Html
							li: a(href='#fieldtypes-color') Color
							li: a(href='#fieldtypes-date') Date
							li: a(href='#fieldtypes-datetime') Datetime
							li: a(href='#fieldtypes-key') Key
							li: a(href='#fieldtypes-number') Number
							li: a(href='#fieldtypes-money') Money
							li: a(href='#fieldtypes-select') Select
							li: a(href='#fieldtypes-markdown') Markdown
							li: a(href='#fieldtypes-name') Name
							li: a(href='#fieldtypes-password') Password
							li: a(href='#fieldtypes-location') Location
							li: a(href='#fieldtypes-cloudinaryimage') CloudinaryImage
							li: a(href='#fieldtypes-cloudinaryimages') CloudinaryImages
							li: a(href='#fieldtypes-localfile') LocalFile
							li: a(href='#fieldtypes-s3file') S3 File
							li: a(href='#fieldtypes-azurefile') AzureFile
							li: a(href='#fieldtypes-embedly') Embedly
