- var hasFile = item.get(field.paths.exists)
.field.type-s3file(data-field-type=field.type, data-field-path=field.path, data-field-collapse=field.collapse ? 'true' : false, data-field-depends-on=field.dependsOn, data-field-noedit=field.noedit ? 'true' : 'false', data-field-value=hasFile ? 'true' : 'false')
	label.field-label= field.label
	input(type='file', name=field.paths.upload).field-upload
	input(type='hidden', name=field.paths.action, value='').field-action
	.field-ui(class=hasFile ? 'has-file' : false)
		.file-container
			.file-details
				if hasFile
					.file-values
						a(href=item.get(field.paths.url), target='_blank').field-value
							if field.hasFormatter()
								!=field.format(item)
							else
								=field.format(item)
				.upload-queued.pull-left
					.alert.alert-success File <span class="file-name"></span>selected - save to upload
				.delete-queued.pull-left
					.alert.alert-danger
		.file-toolbar
			div.pull-left
				button(type='button').btn.btn-default.btn-upload-file=(hasFile ? 'Change' : 'Upload' ) + ' File'
				button(type='button', data-alt-text='Delete File', style=(hasFile ? '' : 'display: none;')).btn.btn-link.btn-cancel.btn-delete-file Remove File
				button(type='button', data-alt-text='Cancel Upload', style='display: none;').btn.btn-link.btn-cancel.btn-cancel-file Cancel Upload
				button(type='button', style='display: none;').btn.btn-link.btn-cancel.btn-undo-file Undo Remove
		if field.note
			.col-md-10: .field-note!= field.note
