extends ../layout/base

include ../mixins/rows
include ../mixins/pagination

block js
	script(src='/keystone/js/views/list.js')
	script(src='/keystone/js/lib/browserified/querystring.js')
	script(src='/keystone/js/lib/browserified/queryfilter.js')
	script.
		Keystone.list = !{JSON.stringify(list.getOptions())};
		Keystone.wysiwyg = { options: !{JSON.stringify(wysiwygOptions)} };
		
		// Support for the POST-based create process
		Keystone.showCreateForm = !{JSON.stringify(showCreateForm)};
		Keystone.createFormData = !{JSON.stringify(submitted)};
		Keystone.createFormErrors = !{JSON.stringify(createErrors || null)};

		// Support for React-rendered List view
		Keystone.columns = !{JSON.stringify(columns)};
		
		// Legacy data for List view
		Keystone.list.cols = !{JSON.stringify(colPaths)};
		Keystone.list.perPage = !{ Number(list.perPage) || 50 };
		Keystone.search = '#{search}';
		Keystone.filters = !{ JSON.stringify(filters) };
		Keystone.sort = '#{sort.by}';
		Keystone.query = '#{query}';
		Keystone.csrf_query = '!{csrf_query}';
	script(src='/keystone/js/packages.js')
	script(src='/keystone/js/fields.js')
	script(src='/keystone/js/list.js')
			
block content
	//- New React View
	//- ------------------------------
	#list-view