extends ../layout/auth

block js
	script(src='/keystone/js/packages.js')
	script.
		var Keystone = {
			brand: !{JSON.stringify(brand || '')},
			csrf_token_key: !{JSON.stringify(csrf_token_key || '')},
			csrf_token_value: !{JSON.stringify(csrf_token_value || '')},
			logo: !{JSON.stringify(logo || '')},
			messages: !{JSON.stringify(messages || '')},
			user: !{JSON.stringify(user || null)},
			userCanAccessKeystone: !{user && user.canAccessKeystone ? 'true' : 'false'},
		};
	script(src='/keystone/js/signin.js')

block content
	div#signin-view
