mixin docsnav(docssection)
	.visible-xs: ul.nav-toggle
		each item in docsnav
			li(class=docssection.value == item.value ? 'active' : null)
				a(href=item.path).nav-heading= item.labelsm
		
	nav.docs-sidebar.hidden-xs
		ul.sidebar-nav
			li(class=docssection.value == 'introduction' ? 'active' : null)
				a(href='/docs').nav-heading Welcome
			each item in docsnav
				li(class=docssection.value == item.value ? 'active' : null)
					a(href=item.path).nav-heading= item.label
		if docssection.value != 'introduction'
			hr
			ul.sidebar-nav
				each item in docsnav
					if (item.value == docssection.value ) && item.value == 'getting-started'
						ul
							li.nav-label: a(href='/docs/getting-started#introduction') Introduction
							li: a(href='/docs/getting-started#introduction-prerequisites') Prerequisites
							li: a(href='/docs/getting-started#introduction-productionvsdevelopment') Production vs Development
							
							li.nav-label: a(href='/docs/getting-started#gettingstarted') Getting Started
							li: a(href='/docs/getting-started#gettingstarted-usingyeoman') Using the Yeoman Generator
							li: a(href='/docs/getting-started#gettingstarted-startinganewproject') Starting a new project
							li: a(href='/docs/getting-started#gettingstarted-projectstructure') Project Structure
							
							li.nav-label: a(href='/docs/getting-started#models') Models
							li: a(href='/docs/getting-started#models-authentication') Authentication and Session Management
							
							li.nav-label: a(href='/docs/getting-started#routesviews') Routes &amp; Views
							li: a(href='/docs/getting-started#routesviews-settingup') Setting up your Routes and Middleware
							li: a(href='/docs/getting-started#routesviews-middleware') Common Route Middleware
							li: a(href='/docs/getting-started#routesviews-firstview') Your first View
							li: a(href='/docs/getting-started#routesviews-templates') Templates
							li: a(href='/docs/getting-started#routesviews-publicassets') Public Assets
							
							li.nav-label: a(href='/docs/getting-started#runningyourapp') Running your App
							li: a(href='/docs/getting-started#runningyourapp-writingupdates') Writing Updates
							li: a(href='/docs/getting-started#runningyourapp-startingkeystone') Starting Keystone
							li: a(href='/docs/getting-started#runningyourapp-nextstep') Next Steps
							
					if (item.value == docssection.value ) && item.value == 'configuration'
						ul
							li.nav-label: a(href='/docs/configuration#options') Keystone Options
							li: a(href='/docs/configuration#options-concepts') Setting Options
							li: a(href='/docs/configuration#options-project') Project Options
							li: a(href='/docs/configuration#options-server') Web Server Options
							li: a(href='/docs/configuration#options-database') Database and User Auth Options
							li.nav-label: a(href='/docs/configuration#services') Services
							li: a(href='/docs/configuration#services-google') Google Maps
							li: a(href='/docs/configuration#services-amazons3') Amazon S3
							li: a(href='/docs/configuration#services-cloudinary') Cloudinary
							li: a(href='/docs/configuration#services-embedly') Embed.ly
							li: a(href='/docs/configuration#services-mandrill') Mandrill
							li.nav-label: a(href='/docs/configuration#updates') Application Updates
							li.nav-label: a(href='/docs/configuration#headless') Disabling the Admin UI
					if (item.value == docssection.value ) && item.value == 'database'
						ul
							li.nav-label: a(href='/docs/database#concepts') Concepts
							li.nav-label: a(href='/docs/database#lists') Lists
							li: a(href='/docs/database#lists-usage') Usage
							li: a(href='/docs/database#lists-example') Example
							li: a(href='/docs/database#lists-options') List Options
							li: a(href='/docs/database#lists-plugins') Schema Plugins
							li: a(href='/docs/database#lists-querying') Querying Data
							li: a(href='/docs/database#lists-creating') Creating Items
							li: a(href='/docs/database#lists-deleting') Deleting Items
							li.nav-label: a(href='/docs/database#fields') Fields
							li: a(href='/docs/database#fields-overview') Overview
							li: a(href='/docs/database#fields-options') Field Options
							li: a(href='/docs/database#fields-underscoremethods') Underscore Methods
							li.nav-label: a(href='/docs/database#relationships') Relationships
							li: a(href='/docs/database#relationship-fields') Relationship Fields
							li: a(href='/docs/database#relationship-definitions') Relationship Definitions
							li: a(href='/docs/database#relationship-queries') Loading related items
							li.nav-label: a(href='/docs/database#fieldtypes') Field Types
							li: a(href='/docs/database#fieldtypes-boolean') Boolean
							li: a(href='/docs/database#fieldtypes-text') Text
							li: a(href='/docs/database#fieldtypes-textarea') Textarea
							li: a(href='/docs/database#fieldtypes-email') Email
							li: a(href='/docs/database#fieldtypes-url') Url
							li: a(href='/docs/database#fieldtypes-html') Html
							li: a(href='/docs/database#fieldtypes-date') Date
							li: a(href='/docs/database#fieldtypes-datetime') Datetime
							li: a(href='/docs/database#fieldtypes-key') Key
							li: a(href='/docs/database#fieldtypes-number') Number
							li: a(href='/docs/database#fieldtypes-money') Money
							li: a(href='/docs/database#fieldtypes-select') Select
							li: a(href='/docs/database#fieldtypes-markdown') Markdown
							li: a(href='/docs/database#fieldtypes-name') Name
							li: a(href='/docs/database#fieldtypes-password') Password
							li: a(href='/docs/database#fieldtypes-location') Location
							li: a(href='/docs/database#fieldtypes-cloudinaryimage') CloudinaryImage
							li: a(href='/docs/database#fieldtypes-cloudinaryimages') CloudinaryImages
							li: a(href='/docs/database#fieldtypes-s3file') S3 File
							li: a(href='/docs/database#fieldtypes-embedly') Embedly
