mixin docsnav(docssection)
	.visible-xs: ul.nav-toggle
		each item in docsnav
			li(class=docssection.value == item.value ? 'active' : null)
				a(href=item.path).nav-heading= item.labelsm
		
	nav.docs-sidebar.hidden-xs
		ul.sidebar-nav
			li(class=docssection.value == 'introduction' ? 'active' : null)
				a(href='/docs').nav-heading Welcome
			each item in docsnav
				li(class=docssection.value == item.value ? 'active' : null)
					a(href=item.path).nav-heading= item.label
		if docssection.value != 'introduction'
			hr
			ul.sidebar-nav
				each item in docsnav
					if (item.value == docssection.value ) && item.value == 'getting-started'
						ul
							li.nav-label: a(href='#introduction') Introduction
							li: a(href='#introduction-prerequisites') Prerequisites
							li: a(href='#introduction-productionvsdevelopment') Production vs Development
							
							li.nav-label: a(href='#gettingstarted') Getting Started
							li: a(href='#gettingstarted-usingyeoman') Using the Yeoman Generator
							li: a(href='#gettingstarted-startinganewproject') Starting a new project
							li: a(href='#gettingstarted-projectstructure') Project Structure
							
							li.nav-label: a(href='#models') Models
							li: a(href='#models-authentication') Authentication and Session Management
							
							li.nav-label: a(href='#routesviews') Routes &amp; Views
							li: a(href='#routesviews-settingup') Setting up your Routes and Middleware
							li: a(href='#routesviews-middleware') Common Route Middleware
							li: a(href='#routesviews-firstview') Your first View
							li: a(href='#routesviews-templates') Templates
							li: a(href='#routesviews-publicassets') Public Assets
							
							li.nav-label: a(href='#runningyourapp') Running your App
							li: a(href='#runningyourapp-writingupdates') Writing Updates
							li: a(href='#runningyourapp-startingkeystone') Starting Keystone
							li: a(href='#runningyourapp-nextstep') Next Steps
							
					if (item.value == docssection.value ) && item.value == 'configuration'
						ul
							li.nav-label: a(href='#options') Keystone Options
							li: a(href='#options-concepts') Setting Options
							li: a(href='#options-project') Project Options
							li: a(href='#options-server') Web Server Options
							li: a(href='#options-ssl') SSL Options
							li: a(href='#options-database') Database and User Auth Options
							li: a(href='#options-ui') Admin UI Options
							li.nav-label: a(href='#services') Services
							li: a(href='#services-google-analytics') Google Analytics
							li: a(href='#services-google-maps') Google Maps
							li: a(href='#services-amazons3') Amazon S3
							li: a(href='#services-azure') Windows Azure Storage
							li: a(href='#services-cloudinary') Cloudinary
							li: a(href='#services-embedly') Embed.ly
							li: a(href='#services-mandrill') Mandrill
							li.nav-label: a(href='#updates') Application Updates
							li.nav-label: a(href='#headless') Disabling the Admin UI
					if (item.value == docssection.value ) && item.value == 'database'
						ul
							li.nav-label: a(href='#concepts') Concepts
							li.nav-label: a(href='#lists') Lists
							li: a(href='#lists-usage') Usage
							li: a(href='#lists-example') Example
							li: a(href='#lists-options') List Options
							li: a(href='#lists-plugins') Schema Plugins
							li: a(href='#lists-querying') Querying Data
							li: a(href='#lists-creating') Creating Items
							li: a(href='#lists-deleting') Deleting Items
							li.nav-label: a(href='#fields') Fields
							li: a(href='#fields-overview') Overview
							li: a(href='#fields-options') Field Options
							li: a(href='#fields-underscoremethods') Underscore Methods
							li.nav-label: a(href='#relationships') Relationships
							li: a(href='#relationship-fields') Relationship Fields
							li: a(href='#relationship-definitions') Relationship Definitions
							li: a(href='#relationship-queries') Loading related items
							li.nav-label: a(href='#fieldtypes') Field Types
							li: a(href='#fieldtypes-boolean') Boolean
							li: a(href='#fieldtypes-text') Text
							li: a(href='#fieldtypes-textarea') Textarea
							li: a(href='#fieldtypes-email') Email
							li: a(href='#fieldtypes-url') Url
							li: a(href='#fieldtypes-html') Html
							li: a(href='#fieldtypes-color') Color
							li: a(href='#fieldtypes-date') Date
							li: a(href='#fieldtypes-datetime') Datetime
							li: a(href='#fieldtypes-key') Key
							li: a(href='#fieldtypes-number') Number
							li: a(href='#fieldtypes-money') Money
							li: a(href='#fieldtypes-select') Select
							li: a(href='#fieldtypes-markdown') Markdown
							li: a(href='#fieldtypes-name') Name
							li: a(href='#fieldtypes-password') Password
							li: a(href='#fieldtypes-location') Location
							li: a(href='#fieldtypes-cloudinaryimage') CloudinaryImage
							li: a(href='#fieldtypes-cloudinaryimages') CloudinaryImages
							li: a(href='#fieldtypes-localfile') LocalFile
							li: a(href='#fieldtypes-s3file') S3 File
							li: a(href='#fieldtypes-azurefile') AzureFile
							li: a(href='#fieldtypes-embedly') Embedly
