.field.type-embedly(data-field-type=field.type, data-field-path=field.path, data-field-collapse=field.collapse ? 'true' : false, data-field-depends-on=field.dependsOn, data-field-noedit=field.noedit ? 'true' : 'false')
	label.field-label= field.label
	.field-ui
		if item.get(field.paths.exists)
			.field-value= item.get(field.paths.providerName) + ' ' + utils.upcase(item.get(field.paths.type))
			.field-value= item.get(field.paths.url)
			if item.get(field.paths.thumbnailUrl)
				.image-preview
					a(href=item.get(field.paths.url), rel=field.path).img-thumbnail
						img(width=item.get(field.paths.thumbnailWidth), height=item.get(field.paths.thumbnailHeight), src=item.get(field.paths.thumbnailUrl))
		else
			.field-value (not set)
	if field.note
		.col-sm-9.col-md-10.col-sm-offset-3.col-md-offset-2: .field-note!= field.note
