mixin formField(field, item)
	if field.type == 'text'
		+formField_text(field, item)
	else if field.type == 'textarea'
		+formField_textarea(field, item)
	else if field.type == 'key'
		+formField_key(field, item)
	else if field.type == 'email'
		+formField_email(field, item)
	else if field.type == 'url'
		+formField_url(field, item)
	else if field.type == 'password'
		+formField_password(field, item)
	else if field.type == 'html'
		+formField_html(field, item)
	else if field.type == 'markdown'
		+formField_markdown(field, item)
	else if field.type == 'name'
		+formField_name(field, item)
	else if field.type == 'date'
		+formField_date(field, item)
	else if field.type == 'datetime'
		+formField_datetime(field, item)
	else if field.type == 'number'
		+formField_number(field, item)
	else if field.type == 'money'
		+formField_money(field, item)
	else if field.type == 'boolean'
		+formField_boolean(field, item)
	else if field.type == 'select'
		+formField_select(field, item)
	else if field.type == 'cloudinaryimage'
		+formField_cloudinaryimage(field, item)
	else if field.type == 'cloudinaryimages'
		+formField_cloudinaryimages(field, item)
	else if field.type == 's3file'
		+formField_s3file(field, item)
	else if field.type == 'embedly'
		+formField_embedly(field, item)
	else if field.type == 'location'
		+formField_location(field, item)
	else if field.type == 'relationship'
		+formField_relationship(field, item)

//-
//- COMMON
//- ------------------------------
mixin formField_text_common(type, field, value, cls, placeholder, displayValue)
	.field(class='type-' + type, data-field-type=field.type, data-field-path=field.path, data-field-collapse=field.collapse ? 'true' : false, data-field-depends-on=field.dependsOn, data-field-noedit=field.noedit ? 'true' : 'false')
		label.field-label= field.label
		.field-ui(class='width-' + field.width)
			if field.noedit
				.field-value= displayValue || value
			else
				input(type='text', name=field.path, value=value, class=cls, placeholder=placeholder, autocomplete='off').form-control
			if field.note
				.field-note= field.note


//-
//- COMMON (text-style fields)
//- ------------------------------
mixin formField_text(field, item)
	|!{ field.render('form',item) }

mixin formField_key(field, item)
	|!{ field.render('form',item) }

mixin formField_email(field, item)
	|!{ field.render('form',item) }

mixin formField_url(field, item)
	|!{ field.render('form',item) }

mixin formField_date(field, item)
	|!{ field.render('form',item) }

mixin formField_number(field, item)
	|!{ field.render('form',item) }

mixin formField_money(field, item)
	|!{ field.render('form',item) }


//-
//- TEXTAREA
//- ------------------------------
mixin formField_textarea(field, item)
	|!{ field.render('form',item) }

//-
//- DATETIME
//- ------------------------------
mixin formField_datetime(field, item)
	|!{ field.render('form',item) }


//-
//- NAME (split)
//- ------------------------------
mixin formField_name(field, item)
	|!{ field.render('form',item) }
//-
//- PASSWORD
//- ------------------------------
mixin formField_password(field, item)
	|!{ field.render('form',item) }

//-
//- HTML
//- ------------------------------
mixin formField_html(field, item)
	|!{ field.render('form',item) }


//-
//- MARKDOWN
//- ------------------------------
mixin formField_markdown(field, item)
	|!{ field.render('form',item) }

//-
//- BOOLEAN
//- ------------------------------
mixin formField_boolean(field, item)
	|!{ field.render('form',item) }

//-
//- SELECT
//- ------------------------------
mixin formField_select(field, item)
	|!{ field.render('form',item) }

//-
//- CLOUDINARY IMAGE
//- ------------------------------
mixin formField_cloudinaryimage(field, item)
	|!{ field.render('form',item) }

//-
//- CLOUDINARY IMAGES
//- ------------------------------
mixin formField_cloudinaryimages(field, item)
	|!{ field.render('form',item) }

//-
//- S3 FILE
//- ------------------------------
mixin formField_s3file(field, item)
	|!{ field.render('form',item) }
//-
//- NAME (split)
//- ------------------------------
mixin formField_embedly(field, item)
	|!{ field.render('form',item) }

//-
//- LOCATION
//- ------------------------------
mixin formField_location(field, item)
	|!{ field.render('form',item) }

//-
//- RELATIONSHIP
//- ------------------------------
mixin formField_relationship(field, item)
	|!{ field.render('form',item) }

