extends layout/base

include mixins/formFields

block page-js
	script(src='/prospekt/js/views/item.js')
	script(src='/prospekt/js/lib/wysihtml5/wysihtml5-0.4.0pre.min.js')
	script(src='/prospekt/js/lib/wysihtml5/editor.js')

block content
	.item-id id: #{item.id}
	
	h3: a(href='/prospekt/' + list.path)= list.label
	
	form(method='post', enctype='multipart/form-data')
		input(type='hidden', name='action', value='updateItem')
		
		h2.item-name
			if list.nameIsEditable
				input(type='text', name=list.nameField.path, value=item.get(list.nameField.path))
			else
				.name-value= list.nameField.format(item) || '(no name)'
		
		each field in list.formFields
			mixin formField(field, item)
		
		.toolbar.toolbar-fixed
			if !list.get('noedit')
				button(type='submit').btn Save
				a(href='/prospekt/' + list.path + '/' + item.id, data-confirm='Are you sure you want to reset your changes?').btn.btn-cancel reset changes
			if !list.get('nodelete')
				a(href='/prospekt/' + list.path + '?delete=' + item.id, data-confirm='Are you sure you want to delete this ' + list.singular.toLowerCase() + '?').btn.btn-cancel delete #{list.singular.toLowerCase()}
				