extends layout/base

include mixins/columns
include mixins/formFields

block page-js
	script(src="/keystone/js/common/ui-fixed-toolbar.js")
	script(src='/keystone/js/views/item.js')
	script(src='/keystone/js/lib/wysihtml5/wysihtml5-0.4.0pre.min.js')
	script(src='/keystone/js/lib/wysihtml5/editor.js')
	script.
		Keystone.list = { path: "#{list.path}" };
		Keystone.item = { id: "#{item.id}" };

block intro
	.item-id id: #{item.id}
		if list.autokey
			|  / #{item.get(list.autokey.path)}
	
	h3
		if drilldown
			each d in drilldown.items
				if d.items
					each di, i in d.items
						a(href=di.href)= di.label
						if i < d.items.length - 1
							| , 
					if d.more
						span  ... 
					span : 
				else
					a(href=d.href) #{d.label}
					span : 
		a(href='/keystone/' + list.path)= list.label
	

block content
	form(method='post', enctype='multipart/form-data')
		
		input(type='hidden', name='action', value='updateItem')
		
		- var nameField = list.nameField, nameIsEditable = list.nameIsEditable;
		
		h2.item-name
			if nameIsEditable
				input(type='text', name=list.nameField.path, value=item.get(list.nameField.path))
			else if nameField
				.name-value= list.nameField.format(item) || '(no name)'
			else
				.name-value= item.get(list.namePath) || '(no name)'
		
		each el in list.uiElements
			if el.type == 'field'
				if (el.field.type != 'text' || el.field != nameField) && !el.field.hidden
					+formField(el.field, item)
			else if el.type == 'heading'
				h3= el.heading
			else if el.type == 'indent'
				| <div class="indent">
			else if el.type == 'outdent'
				| </div>
		
		.toolbar.toolbar-fixed
			if !list.get('noedit')
				button(type='submit').btn Save
				a(href='/keystone/' + list.path + '/' + item.id, data-confirm='Are you sure you want to reset your changes?').btn.btn-cancel reset changes
			if !list.get('nodelete')
				a(href='/keystone/' + list.path + '?delete=' + item.id, data-confirm='Are you sure you want to delete this ' + list.singular.toLowerCase() + '?').btn.btn-cancel delete #{list.singular.toLowerCase()}
	
	if showRelationships
		h2.relationships Relationships
			each rel in relationships
				if rel.items.results.length
					h3: a(href='/keystone/' + rel.list.path)= rel.list.label
					- var firstColspan = 1
					table(cellpadding=0, cellspacing=0, class=rel.sortable ? 'sortable' : false, data-list-path=rel.list.path).items-list
						if rel.sortable
							- firstColspan++;
							col(width=26)
						each col in rel.columns
							col(width=col.width)
						thead
							tr
								each col, i in rel.columns
									th(colspan=i == 0 && firstColspan > 1 ? firstColspan : false)= col.label
						tbody
							each item in rel.items.results
								tr(id=item.id)
									if rel.sortable
										td.control: a(href=js).control-sort
									each col, i in rel.columns
										td
											+column(rel.list, col, item)


