extends layout/base

block page-js
	script(src='/prospekt/js/views/item.js')
	script(src='/prospekt/js/lib/wysihtml5/wysihtml5-0.4.0pre.min.js')
	script(src='/prospekt/js/lib/wysihtml5/editor.js')

block content
	.item-id id: #{item.id}
	
	h3: a(href='/prospekt/' + list.path)= list.label
	
	form(method='post', enctype='multipart/form-data')
		input(type='hidden', name='action', value='updateItem')
		
		if (list.mappings.name)
			h1.item-name
				if list.nameIsVirtual || !list.nameIsEditable
					.name-value= item.get(list.mappings.name) || '(no name)'
				else
					input(type='text', name=list.mappings.name, value=item.get(list.mappings.name))
		
		each field in list.formFields
			if field.fieldType == 'textfield'
				.field.type-text
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						if field.noedit
							div(class='field-value width-' + field.width)= item.get(field.path) || '&nbsp;'
						else
							input(type='text', name=field.path, value=item.get(field.path), class='width-' + field.width, autocomplete='off')
					if field.note
						.field-note= field.note
			
			if field.fieldType == 'number'
				.field.type-number
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						if field.noedit
							div(class='field-value width-' + field.width)= item.get(field.path) || '&nbsp;'
						else
							input(type='text', name=field.path, value=item.get(field.path), class='width-' + field.width, autocomplete='off')
					if field.note
						.field-note= field.note
			
			if field.fieldType == 'money'
				.field.type-money
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						if field.noedit
							div(class='field-value width-' + field.width)= item.get(field.path) || '&nbsp;'
						else
							input(type='text', name=field.path, value=item.get(field.path), class='width-' + field.width, autocomplete='off')
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'password'
				.field.type-text
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						if field.noedit
							.field-value= (item.get(field.path)) ? "password set" : "password not set"
						else
							.leave-password
								a(href=js).btn.btn-change-password= (item.get(field.path)) ? "Change Password" : "Set Password"
							.change-password
								input(type='password', name=field.path, class='width-short', autocomplete='off')
								input(type='password', name=field.path + '_confirm', class='width-short', autocomplete='off')
								a(href=js).btn.btn-cancel.btn-leave-password cancel
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'select'
				.field.type-object
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						if field.noedit
							div(class='field-value')= item.get(field.path) || '&nbsp;'
						else
							select(name=field.path).ui-select2
								option(value='')
								each opt in field.options
									option(value=opt.value, selected=(opt.value == item.get(field.path)))= opt.label
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'key'
				.field.type-key
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						if field.noedit
							div(class='field-value')= item.get(field.path) || '(not set)'
						else
							input(type='text', name=field.path, value=item.get(field.path), class='width-' + field.width, autocomplete='off').code
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'textarea'
				.field.type-textarea
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						if field.noedit
							div(class='field-value width-full')!= textToHTML(item.get(field.path)) || '&nbsp;'
						else
							textarea(name=field.path, class='width-' + field.width)= item.get(field.path)
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'image'
				.field.type-image
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					- var hasImage = image(item.get(field.path))
					div(class=hasImage ? 'has-image' : false).field-ui
						if hasImage
							.image-preview
								if (image(item.get(field.path)))
									img(src=image.limit(item.get(field.path), 100, 100))
							.image-details
								.field-value= item.get(field.path + '.url')
								.field-value= item.get(field.path + '.width') + ' x ' + item.get(field.path + '.height')
						.image-toolbar
							input(type='file', name=field.path + '_upload').field-upload
							input(type='hidden', name=field.path + '_action', value='').field-action
							span.upload-queued Image selected - save to upload
							a(href=js).btn.btn-upload Upload Image
							if hasImage
								a(href=js).btn.btn-cancel.btn-delete-image Remove Image
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'location'
				.field.type-location
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						.extras
							.row
								.span1
									span.label PO Box / Shop
									input(type='text', name=field.path + '[number]', value=item.get(field.path + '.number'))
							.row: .span2
									span.label Building Name
									input(type='text', name=field.path + '[name]', value=item.get(field.path + '.name'))
						.row: .span2
							span.label Street Address 1
							input(type='text', name=field.path + '[street1]', value=item.get(field.path + '.street1'))
						.row: .span2
							.label Street Address 2
							input(type='text', name=field.path + '[street2]', value=item.get(field.path + '.street2'))
						.row: .span2
							.label Suburb
							input(type='text', name=field.path + '[suburb]', value=item.get(field.path + '.suburb'))
						.row
							.span1
								span.label State
								input(type='text', name=field.path + '[state]', value=item.get(field.path + '.state'))
							.span1
								span.label.short Postcode
								input(type='text', name=field.path + '[postcode]', value=item.get(field.path + '.postcode'))
						.row: .span2
							span.label Country
							input(type='text', name=field.path + '[country]', value=item.get(field.path + '.country'))
						.row
							.span1
								span.label Latitude
								input(type='text', name=field.path + '[geo]', value=item.get(field.path + '.geo') ? item.get(field.path + '.geo')[0] : '')
							.span1
								span.label.short Longitude
								input(type='text', name=field.path + '[geo]', value=item.get(field.path + '.geo') ? item.get(field.path + '.geo')[1] : '')
					
					label(for=field.path + '_improve').detect-geo
						input(type='checkbox', name=field.path + '_improve', id=field.path + '_improve', value='true')
						| autodetect and improve location on save
					
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'wysiwyg'
				.field.type-wysiwyg
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						textarea(name=field.path, data-wysiwyg=true).code.tall= item.get(field.path)
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'date'
				.field.type-datetime
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						if field.noedit
							div(class='field-value')= moment(item.get(field.path)).format('YYYY-MM-DD') || '&nbsp;'
						else
							input(type='text', name=field.path, value=moment(item.get(field.path)).format('YYYY-MM-DD')).ui-datepicker
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'datetime'
				.field.type-datetime
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						if field.noedit
							div(class='field-value')= moment(item.get(field.path)).format('YYYY-MM-DD HH:DD a') || '&nbsp;'
						else
							input(type='text', name=field.path, value=moment(item.get(field.path)).format('YYYY-MM-DD HH:DD a'))
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'latlng'
				.field.type-latlng
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						input(type='text', name=field.path, value=item.get(field.path)[0]).width-short
						input(type='text', name=field.path, value=item.get(field.path)[1]).width-short
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'checkbox'
				.field.type-checkbox
					if field.noedit
						if item.get(field.path)
							img(src='/prospekt/images/icons/16/checkbox-checked.png', width=16, height=16)
						else
							img(src='/prospekt/images/icons/16/checkbox-unchecked.png', width=16, height=16)
						= field.label
					else
						label(for=field.path)
							input(type='checkbox', name=field.path, id=field.path, value='true', checked=item.get(field.path))
							= field.label
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'list'
				.field.type-list
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					if field.noedit
						each value in item.get(field.path)
							span.field-value= value
					else
						input(type='hidden', name=field.path, id='field_' + field.path, value=item.get(field.path).join(','), class='width-full ui-select2-tags')
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'object'
				- var refList = field.getRefList()
				.field.type-object
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					.field-ui
						if field.noedit
							if item.get(field.path)
								a(href='/prospekt/' + refList.path + '/' + item.get(field.path), data-ref-path=refList.path).ui-related-item= item.get(field.path)
							else
								div(class='field-value') (not set)
						else
							input(type='hidden', name=field.path, id='field_' + field.path, value=item.get(field.path), class='width-medium ui-select2-ref', data-ref-path=refList.path, data-ref-singular=refList.singular, data-ref-plural=refList.plural)
					if field.note
						.field-note= field.note
			
			else if field.fieldType == 'objects'
				.field.type-list
					.field-label= field.label
						span.field-type  (#{field.path} - #{field.fieldType})
					if field.noedit
						each value in item.get(field.path)
							span.field-value= value
						if !item.get(field.path).length
							span.field-value (none set)
					else
						- var refList = field.getRefList()
						input(type='hidden', name=field.path, id='field_' + field.path, value=item.get(field.path).join(','), class='width-full ui-select2-ref', data-ref-multiple="true", data-ref-path=refList.path, data-ref-singular=refList.singular, data-ref-plural=refList.plural)
					if field.note
						.field-note= field.note
			
			else
				.field.type-unknown
					.field-type !! Unhandled field type 
						strong= field.fieldType
			
		.toolbar.toolbar-fixed
			if !list.get('noedit')
				button(type='submit').btn Save
				a(href='/prospekt/' + list.path + '/' + item.id, data-confirm='Are you sure you want to reset your changes?').btn.btn-cancel reset changes
			if !list.get('nodelete')
				a(href='/prospekt/' + list.path + '?delete=' + item.id, data-confirm='Are you sure you want to delete this ' + list.singular.toLowerCase() + '?').btn.btn-cancel delete #{list.singular.toLowerCase()}
				