//- common mixins
include ../mixins/breadcrumbs

doctype html
html(lang=language)
	head
		script.
			var _sf_startpt=(new Date()).getTime()
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		title KeystoneJS
			if title
				|  &middot; #{title}
		meta(name="keywords" content="node.js,nodejs,cms,publishing,platform,web,development,framework,express,mongo,mongodb,bootstrap,react,jquery")
		meta(name="description" content="Get a head-start on the features you need. KeystoneJS is the easiest way to build dynamic websites, applications and APIs with Node.js and MongoDB.")
		meta(property="og:locale" content="en-us")
		meta(property="og:title" content="KeystoneJS")
		meta(property="og:description" content="KeystoneJS is an open source Node.js CMS and web application platform built on Express and MongoDB.")
		meta(property="og:url" content="https://keystonejs.com^current_url^")
		meta(property="og:site_name" content="KeystoneJS")
		meta(property="og:type" content="article")
		link(href="http://fonts.googleapis.com/css?family=Roboto:100,300,300italic,400,500,700", rel="stylesheet")
		link(href="/styles/site.min.css", rel="stylesheet")
		link(href="/styles/prism.css", rel="stylesheet")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		block css

	body
		
		.language-switcher: .container
			a(href=languages.zh.links[section] class=(language === 'zh' ? 'active' : '')).language-switcher-option 中文 (Chinese)
			a(href=languages.en.links[section] class=(language === 'en' ? 'active' : '')).language-switcher-option English
		block homepage-header
		
		if section !== 'home'
			header(role='banner').docs-header: .container
				button.navbar-toggle.navbar-toggle-menu(type='button', data-toggle='collapse', data-target='.docs-nav__collapse')
					span.sr-only= content.toggle_navigation
					//- span.entypo.entypo-list
					!='<span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>'
				a(href=prefix, title='KeystoneJS').keystone-logo: img(src='/images/logo.svg', alt='KeystoneJS', width=207, height=70)
				
				nav.docs-nav
					.docs-nav__collapse.collapse
						ul.docs-nav__nav
							each item in primarynav
								li(class=section == item.section ? 'active' : null): a(href=item.path)= item.label


		
		if section === 'docs' && docssubsection
			+breadcrumbs(docssection, docssubsection)
		else
			block intro
			
		.docs-body
			block content
		
		.docs-footer
			.container
				p
					| Created by 
					a(href='http://twitter.com/jedwatson', target='_blank') @jedwatson
					| , 
					a(href='http://twitter.com/bladey', target='_blank') @bladey
					|  and 
					a(href='http://twitter.com/jossmackison', target='_blank') @jossmackison
					|  at 
					a(href='http://www.thinkmill.com.au', target='_blank') Thinkmill
					| , and other 
					a(href='https://github.com/keystonejs/keystone/contributors', target='_blank') contributors
					|  under the 
					a(href='http://opensource.org/licenses/MIT', target='_blank') MIT License
				ul.list-inline
					li: a(href=prefix + 'getting-started', title='KeystoneJS Getting Started') Getting Started
					li: a(href=prefix + 'docs', title='KeystoneJS Documentation') Documentation
					li: a(href='https://groups.google.com/forum/#!forum/keystonejs', target='_blank', title='KeystoneJS Google Group') Google Group
					li: a(href='https://github.com/keystonejs/keystone', target='_blank', title='Github Project (new window)') Github Project
					li: a(href='http://demo.keystonejs.com', target='_blank', title='Demo Website (new window)') Demo Website
					li: a(href=prefix + 'examples', title='KeystoneJS Database') Examples
		.docs-footer-floor
			.container
				.social-buttons
					.social-button.social-button__twitter: a(href="https://twitter.com/keystonejs", class="twitter-follow-button", data-show-count="true") Follow @keystonejs
					.social-button.social-button__github: iframe(src="http://ghbtns.com/github-btn.html?user=keystonejs&repo=keystone&type=watch&count=true", allowtransparency="true", frameborder=0, scrolling=0, width=86, height=20)

		
		script(src="/js/lib/jquery/jquery-1.10.2.min.js")
		script(src='/js/lib/bootstrap/collapse.js')
		//- script(src='/js/lib/bootstrap/dropdown.js')
		script(src='/js/lib/prism/prism.min.js')
		script(src='/js/anchor-links.js')
			
		//- Twitter
		script.
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		
		//- Page Scripts
		block js
		
		//- Analytics
		script.
			if (window.location.hostname.match(/keystonejs\.com/)) {
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-43970386-1', 'keystonejs.com');
				ga('send', 'pageview');
			}
		
		script.
			if (window.location.hostname.match(/keystonejs\.com/)) {
				var _sf_async_config = { uid: 46610, domain: 'keystonejs.com', useCanonical: true };
				(function() {
					function loadChartbeat() {
						window._sf_endpt = (new Date()).getTime();
						var e = document.createElement('script');
						e.setAttribute('language', 'javascript');
						e.setAttribute('type', 'text/javascript');
						e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
						document.body.appendChild(e);
					};
					var oldonload = window.onload;
					window.onload = (typeof window.onload != 'function') ?
					loadChartbeat : function() { oldonload(); loadChartbeat(); };
				})();
			}
		
		script.
			if (window.location.hostname.match(/keystonejs\.com/)) {
				setTimeout(function(){var a=document.createElement("script");
				var b=document.getElementsByTagName("script")[0];
				a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/3329.js?"+Math.floor(new Date().getTime()/3600000);
				a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
			}
