//- Variables
//- ------------------------------

- if (!theme.email_bg) theme.email_bg                     = '#fafafa';
- if (!theme.body_bg) theme.body_bg                       = '#fff';
- if (!theme.body_border_color) theme.body_border_color   = css.shadeColor(theme.email_bg, -10);
- if (!theme.link_color) theme.link_color                 = '#08c';
- if (!theme.link_hover_color) theme.link_hover_color     = css.shadeColor(theme.link_color, 20);
- if (!theme.text_color) theme.text_color                 = '#333';
- if (!theme.text_muted) theme.text_muted                 = '#999';



style(type="text/css").
	
	/* resets */
	* {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	
	
	
	/* main */
	body {
		background-color: #{theme.email_bg};
	}
	body, table.body, h1, h2, h3, h4, h5, h6, p {
		color: #{theme.text_color};
	}
	a {
		color: #{theme.link_color};
	}
	a:hover,
	a:focus { 
		color: #{theme.link_hover_color};
	}
	a:active { 
		color: #{theme.link_color};
	}
	a:visited { 
		color: #{theme.link_color};
	}
	.text-larger, .text-larger p {font-size: 16px; line-height:22px;}
	
	
	/* helpers */
	.text-muted { color: #{theme.text_muted}; }
	.text-left { text-align: left; }
	.text-center { text-align: center; }
	.text-right { text-align: right; }
	
	
	
	/* header */
	.row-header {
		text-align: center;
	}
	.header__logo {
		float: none;
	}
	
	
	
	/* body */
	.row-body .container {
		background-color: #{theme.body_bg};
		border-width: 3px 1px 1px;
		border-style: solid;
		border-color: #{theme.link_color} #{theme.body_border_color} #{theme.body_border_color};
	}
	
	
	
	
	/* footer */
	.row-footer {}
		
	
	
	/*
		COMPONENTS
		------------------------------
	*/
	
	
	/* info table */
	@media only screen and (min-width: 600px) {
		.info-table td:first-child {
			width: 100px;
		}
	}
	
	
	
	
	/*
		MEDIA QUERIES
		------------------------------
	*/
	
	@media only screen and (max-width: 600px) {
	
		/* ink seems to have missed this */
		table,
		tr,
		td,
		tbody {
			display: block;
		}
	}
