.field.type-markdown
    label.field-label= field.label
    .field-ui(class='width-' + field.width)
        textarea(name=field.path, style='height: #{field.height}px', data-toolbar-hidden-buttons=field.toolbarOptions.hiddenButtons).form-control.markdown.code= item[field.path]
        if field.note
            .field-note!= field.note
