- var hasImage = item.get(field.paths.exists)
.field.type-cloudinaryimage(data-field-type=field.type, data-field-path=field.path, data-field-collapse=field.collapse ? 'true' : false, data-field-depends-on=field.dependsOn, data-field-noedit=field.noedit ? 'true' : 'false', data-field-value=hasImage ? 'true' : 'false')
	label.field-label= field.label
	input(type='file', name=field.paths.upload).field-upload
	input(type='hidden', name=field.paths.action, value='').field-action
	.field-ui(class=hasImage ? 'has-image' : false)
		if field.noedit
			if hasImage
				.image-preview
					a(href=item.get(field.paths.url), rel=field.path).img-thumbnail
						img(width=90, height=90, data-src=field.apply(item, 'fit', false, 90), data-id=item.get(field.paths.public_id), data-wysiwyg=(field.options.wysiwyg ? 'true' : false), data-wysiwyg-options=(field.options.wysiwyg ? '#{JSON.stringify(field.options.wysiwyg)}' : false), data-wysiwyg-original=(field.options.wysiwyg ? item.get(field.paths.url) : false), data-wysiwyg-src=(field.options.wysiwyg ? ( 'object' == typeof field.options.wysiwyg ? field.apply(item, field.options.wysiwyg.crop, field.options.wysiwyg.width, field.options.wysiwyg.height) : item.get(field.paths.url) ) : false)).img-load
						.ion-image.img-loading
				.image-details
					.field-value= item.get(field.paths.url)
					.field-value= item.get(field.paths.width) + ' x ' + item.get(field.paths.height)
			else
				.help-block (no image)
		else
			.image-container
				if hasImage
					.image-preview.current
						a(href=item.get(field.paths.url), rel=field.path).img-thumbnail
							img(width=90, height=90, data-src=field.apply(item, 'fit', false, 90), data-id=item.get(field.paths.public_id), data-wysiwyg=(field.options.wysiwyg ? 'true' : false), data-wysiwyg-options=(field.options.wysiwyg ? '#{JSON.stringify(field.options.wysiwyg)}' : false), data-wysiwyg-original=(field.options.wysiwyg ? item.get(field.paths.url) : false), data-wysiwyg-src=(field.options.wysiwyg ? ( 'object' == typeof field.options.wysiwyg ? field.apply(item, field.options.wysiwyg.crop, field.options.wysiwyg.width, field.options.wysiwyg.height) : item.get(field.paths.url) ) : false)).img-load
							.ion-image.img-loading
							.delete-pending(style='display: none;')
				.image-details
					if hasImage
						.image-values
							.field-value= item.get(field.paths.url)
							.field-value= item.get(field.paths.width) + ' x ' + item.get(field.paths.height)
					.upload-queued.pull-left
						.alert.alert-success Image selected - save to upload
					.select-queued.pull-left
						.alert.alert-success Image selected from Cloudinary
					.delete-queued.pull-left
						.alert.alert-danger
			.image-toolbar
				div.pull-left
					button(type='button').btn.btn-default.btn-upload-image= (hasImage ? 'Change' : 'Upload') + ' Image'
					if field.options.autoCleanup
						button(type='button', data-alt-text='Remove Image', data-default-action='delete', data-alt-action='reset', style=(hasImage ? '' : 'display: none;')).btn.btn-link.btn-cancel.btn-delete-image Delete Image
					else
						button(type='button', data-alt-text='Delete Image', data-default-action='reset', data-alt-action='delete', style=(hasImage ? '' : 'display: none;')).btn.btn-link.btn-cancel.btn-delete-image Remove Image
					button(type='button', style='display: none;').btn.btn-link.btn-cancel.btn-cancel-image Cancel Upload
					button(type='button', style='display: none;').btn.btn-link.btn-cancel.btn-undo-image Undo Remove
				if field.options.select
					.image-select
						input(type='hidden',
							name=field.path + '_select',
							id='field_' + field.path + '_select',
							data-prefix=(field.options.selectPrefix ? field.options.selectPrefix : item.get(field.paths.folder)),
							data-ref-filters=field.filters).ui-select2-cloudinary

		if field.note
			.field-note!= field.note
