.field.type-select(data-field-type=field.type, data-field-path=field.path, data-field-collapse=field.collapse ? 'true' : false, data-field-depends-on=field.dependsOn, data-field-noedit=field.noedit ? 'true' : 'false', data-field-value=item.get(field.path))
	label.field-label= field.label
	.field-ui
		if field.noedit
			if item.get(field.path)
				.field-value= field.format(item)
			else
				.help-block (not set)
		else
			select(name=field.path).ui-select2
				if field.emptyOption
					option(value='')
				each opt in field.ops
					option(value=opt.value, selected=(opt.value == item.get(field.path)))= opt.label
		if field.note
			.field-note!= field.note
