- var hasFiles = item.get(field.paths.exists).length
.field.type-localfiles(data-field-type=field.type, data-field-path=field.path, data-field-collapse=field.collapse ? 'true' : false, data-field-depends-on=field.dependsOn, data-field-noedit=field.noedit ? 'true' : 'false', data-field-value=hasFiles ? 'true' : 'false')
	label.field-label= field.label
	input(type='file', name=field.paths.upload, multiple).field-upload
	input(type='hidden', name=field.paths.action, value='').field-action
	input(type='hidden', name=field.paths.order, value='').field-order
	.field-ui(class=hasFiles ? 'has-file' : false)
		.files-container.clearfix
			each file, i in item.get(field.path)
				.file-field.file-sortable(data-id=file.id)
					.file-preview
						a(href=field.href(file), target='_blank').field-value
							if field.hasFormatter()
								!=field.format(item, i)
							else
								=field.format(item, i)
							.glyphicon.glyphicon-trash.delete-pending(style='display:none;')
					.file-details
						button(type='button', data-alt-text='Delete').btn.btn-link.btn-cancel.btn-remove-file Remove
						button(type='button', data-alt-text='Undo', style='display:none;').btn.btn-link.btn-cancel.btn-undo-remove Undo


		.file-container
			.file-details.clearfix
				.upload-queued.pull-left(style='display:none')
					.alert.alert-success
						.files-list
						span.number-of-files
						selected - save to upload
		.file-toolbar
			div.pull-left
				button(type='button').btn.btn-default.btn-upload Upload Files
				//button(type='button').btn.btn-default.btn-upload-file=(hasFiles ? 'Change' : 'Upload' ) + ' File'
				//a(href=js, data-alt-text='Delete File', style=(hasFiles ? '' : 'display: none;')).btn.btn-link.btn-cancel.btn-delete-file Remove File
				a(href=js, data-alt-text='Cancel Upload', style='display: none;').btn.btn-link.btn-cancel.btn-cancel-file Cancel Upload
				//a(href=js, style='display: none;').btn.btn-link.btn-cancel.btn-undo-file Undo Remove
		if field.note
			.field-note!= field.note
