include includes/flashMessages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		meta(name="csrf-token", content="#{csrf_token_value}")
		title= title
		link(rel="stylesheet", href="#{adminPath}/styles/keystone.min.css")
		link(rel="stylesheet", href="#{adminPath}/../../styles/bootstrap/bootstrap.css")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		style.
			.fieldName {
				color: #101010;
				font-weight: bold;
			}
			.change {
				color: #000;
				background-color: #cae6cb;
				font-weight: normal;
			}
	body
		.container
				.page-header
					h3 !{title}
				.row
					.col-md-12
						table.table.table-striped.table-bordered
							thead
								tr 
									th change date
									th changed by
									th fields changed
							tbody
								each key in history
									tr
									td !{key.changedAt}
									td !{key.changedBy.name}
									td
										each change in key.changes
											span.fieldName !{change.fieldName} : 
												span.change !{change.newValue}
												br
		script(src="#{adminPath}/js/lib/jquery/jquery-1.10.2.min.js")
		