doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		meta(name="csrf-token", content="#{csrf_token_value}")
		title= title
		link(rel="stylesheet", href="#{adminPath}/styles/keystone.min.css")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

	body
		#home-view
		include includes/script/keystone
		- var getListMeta = function(list) { return _.pick(list, ['key', 'label', 'path']); }
		script.
			Keystone.lists = !{JSON.stringify(_.map(lists, getListMeta))};
			Keystone.orphanedLists = !{JSON.stringify(orphanedLists.map(getListMeta))};
		script(src="#{adminPath}/js/lib/underscore/underscore-1.5.1.min.js")
		script(src="#{adminPath}/js/packages.js")
		script(src="#{adminPath}/js/home.js")
		include includes/script/ga
