doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		meta(name="csrf-token", content="#{csrf_token_value}")
		title= title
		link(rel="stylesheet", href="#{codemirrorPath}/codemirror.css")
		link(rel="stylesheet", href="#{adminPath}/styles/keystone.min.css")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

	body
		//- React mount element
		#react-root

		//- Init Keystone variables
		script.
			var Keystone = {};
			Keystone.adminPath = !{JSON.stringify(adminPath)};
			Keystone.backUrl = !{JSON.stringify(backUrl)};
			Keystone.user = !{JSON.stringify(user)};
			Keystone.version = !{JSON.stringify(version)};
			Keystone.devMode = !{process.env.KEYSTONE_DEV ? 'true' : 'false'};
			
			Keystone.brand = !{JSON.stringify(brand)};
			Keystone.nav = !{JSON.stringify(nav)};
			Keystone.signoutUrl = !{JSON.stringify(signout)};
			Keystone.csrf = function(obj) {
				obj['#{csrf_token_key}'] = "#{csrf_token_value}";
				return obj;
			};
			Keystone.csrf.header = { "!{csrf_header_key}": "!{csrf_token_value}" };
			Keystone.csrf.key = "#{csrf_token_key}";
			Keystone.csrf.value = "#{csrf_token_value}";
			Keystone.csrf.query = "!{csrf_query}";

		//- Old jQuery, editor and Cloudinary scripts
		script(src="#{adminPath}/js/lib/jquery/jquery-1.10.2.min.js")
		if fieldTypes.wysiwyg
			script(src="#{adminPath}/js/lib/tinymce/tinymce.min.js")
			if cloudinary
				script(src="#{adminPath}/js/lib/jqueryfileupload/vendor/jquery.ui.widget.js")
				script(src="#{adminPath}/js/lib/jqueryfileupload/jquery.iframe-transport.js")
				script(src="#{adminPath}/js/lib/jqueryfileupload/jquery.fileupload.js")
				script(src="#{adminPath}/js/lib/cloudinary/jquery.cloudinary.js")
				| !{cloudinary_js_config}
		if fieldTypes.code
			script(src="#{codemirrorPath}/codemirror-compressed.js")
		if cloudinary
			script.
				Keystone.cloudinary = {
					cloud_name: "#{cloudinary.cloud_name}",
					api_key: "#{cloudinary.api_key}",
					timestamp: "#{cloudinary.timestamp}",
					signature: "#{cloudinary.signature}",
				}
				
		//- Lists Meta
		- var getListMeta = function(list) { return _.pick(list, ['key', 'label', 'path']); }
		script.
			Keystone.lists = !{JSON.stringify(lists)};
		if orphanedLists
			script.
				Keystone.orphanedLists = !{JSON.stringify(orphanedLists.map(getListMeta))};
		if wysiwygOptions
			script.
				Keystone.wysiwyg = { options: !{JSON.stringify(wysiwygOptions)} };

		//- Bundles
		script(src="#{adminPath}/js/packages.js")
		script(src='#{adminPath}/js/fields.js')
		script(src="#{adminPath}/js/admin.js")
				
		// Google Analytics
		script
			| window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			if env == 'production' && ga.domain && ga.property
				// User analytics
				| 
				| ga('create', '#{ga.property}', '#{ga.domain}');
				| ga('send', 'pageview');
			// Admin interface analytics
			| 
			| ga('create', 'UA-49258834-9', 'auto', 'adminui');
			| ga('adminui.send', 'pageview');
		script(async='', src='https://www.google-analytics.com/analytics.js')
