doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		title Sign in to #{brand ? brand : 'Keystone'}
		link(rel="stylesheet", href="#{adminPath}/styles/keystone.min.css")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
	body
		#signin-view
		script(src='#{adminPath}/js/packages.js')
		script.
			var Keystone = {
				adminPath: !{JSON.stringify(adminPath)},
				brand: !{JSON.stringify(brand || '')},
				csrf: { header: { '#{csrf_header_key}': "#{csrf_token_value}" } },
				from: !{JSON.stringify(from || '')},
				logo: !{JSON.stringify(logo || '')},
				redirect: !{JSON.stringify(redirect || '')},
				user: !{JSON.stringify(user || null)},
				userCanAccessKeystone: !{user && user.canAccessKeystone ? 'true' : 'false'},
			};
			
		// Initialize Google Analytics
		script
			| window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			if env == 'production' && ga.domain && ga.property
				// User analytics
				| 
				| ga('create', '#{ga.property}', '#{ga.domain}');
				| ga('send', 'pageview');

		script(src='#{adminPath}/js/signin.js')

		// Google Analytics Script
		script(async='', src='https://www.google-analytics.com/analytics.js')
