doctype 5
html
	head
		meta(charset="utf-8")
		title Keystone
		link(rel="stylesheet", href="/keystone/styles/keystone.css")
		//link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:300,400,700")
		block css
		
		//- IE hacks (uncomment if required)
		//-	//if lt IE 10
		//-		link(rel="stylesheet", href="/styles/ie-min.css", media="all")
		
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		block head
	body
		#body: .container
			block intro
			if messages
				#flash-messages
					each message in messages.info
						.alert.alert-info= message
					each message in messages.success
						.alert.alert-success= message
					each message in messages.warning
						.alert= message
					each message in messages.error
						.alert.alert-error= message
			block content
		
		#footer: .container
			| Copyright &copy; #{new Date().getFullYear()} #{copyright}. All rights reserved.
		
		script(src="/keystone/js/lib/underscore/underscore-1.4.4.min.js")
		script(src="/keystone/js/lib/jquery/jquery-1.9.1.min.js")
		
		//- Page Scripts
		block page-js