.field.type-password(data-field-type=field.type, data-field-path=field.path, data-field-collapse=field.collapse ? 'true' : false, data-field-depends-on=field.dependsOn, data-field-noedit=field.noedit ? 'true' : 'false', data-field-value=item.get(field.path) ? "true" : "false")
	label.field-label= field.label
	.field-ui
		if field.noedit
			.field-value= (item.get(field.path)) ? "password set" : "password not set"
		else
			.leave-password
				button(type='button').btn.btn-default.btn-change-password= (item.get(field.path)) ? "Change Password" : "Set Password"
			.change-password
				.form-row
					.col-sm-6: input(type='password', name=field.path, autocomplete='off', placeholder='New password').form-control
					.col-sm-6: input(type='password', name=field.paths.confirm, autocomplete='off', placeholder='Confirm new password').form-control
				.form-control-wrapper: button(type='button').btn.btn-default.btn-cancel.btn-leave-password Cancel
	if field.note
		.col-sm-9.col-md-10.col-sm-offset-3.col-md-offset-2: .field-note!= field.note
