if !field.isValid
	.alert.alert-danger Warning: Relationship field <strong>#{field.path}</strong> refers to an invalid list: <strong>#{field.options.ref}</strong>
else
	- var refList = field.refList
	.field.type-relationship
		label.field-label= field.label
		.field-ui
			.field-message
			input(type='hidden',
				name=field.path,
				id='field_' + field.path,
				value=item[field.path],
				data-ref-many=field.many ? 'true' : null,
				data-ref-filters=field.filters,
				data-ref-path=refList.path,
				data-ref-singular=refList.singular,
				data-ref-plural=refList.plural).ui-select2-ref
			if field.note
				.field-note!= field.note
