include ../mixins/flashMessages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		
		title Keystone
		
		link(rel="stylesheet", href="/keystone/styles/keystone.css")
		style.
			.navbar-header { text-align: center; }
			.navbar-brand { display: inline-block; float: none; }
		block css
		
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		block head
		
	body
		nav(role='navigation')#header.navbar: .container: .row: .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
			a(href='/').navbar-backtobrand.hidden-xs: span.glyphicon.glyphicon-arrow-left
			.navbar-header
				a(href='/keystone', class=(section == 'home' ? 'active' : null)).navbar-brand=brand
		
		#body: .container: .row: .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
			block intro
			+flash-messages(messages)
			block content
		
		#footer: .container: .row: .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
			p Powered by 
				a(href='http://github.com/JedWatson/keystone', target='_blank') Keystone JS
				| .
		
		script(src="/keystone/js/lib/underscore/underscore-1.5.1.min.js")
		script(src="/keystone/js/lib/jquery/jquery-1.10.2.min.js")
		//- script(src="/keystone/js/common/ui.js")
		
		//- Page Scripts
		block js
		
		//- Google Analytics
		if env == 'production' && ga.property && ga.domain
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', '#{ga.property}', '#{ga.domain}');
				ga('send', 'pageview');
